<form>
   <span class="input-label">Nome</span>
   <input type="text"  ng-model="newUser.firstname">
   <span class="input-label">Cognome</span>
   <input type="text" ng-model="newUser.lastname">
   <span class="input-label">Username</span>
   <input type="text" ng-model="newUser.username">
   <span class="input-label">Password</span>
   <input type="text" ng-model="newUser.password">
   <span class="input-label">Profilo</span>
   <select type="text" ng-model="newUser.profile">
      <option selected="selected">admin</option>
      <option>manager</option>
      <option>user</option>
   </select>
</form>