<ion-view view-title="Badge">
	<div align="center">
		<form name="formOrologio">
			<input type="text" name="textOrologio" class="stileOrologio" onFocus="this.blur()" onSelectStart="return false;">
		</form>
	</div>
	<ion-content padding="true">
		<ion-item class="item-icon-left positive">
			<i class="icon ion-android-person"></i>Utente: {{ loginData.username }}
		</ion-item>
		<ion-item class="item-icon-left positive">
			<i class="icon ion-calendar"></i>Data: {{date | date:'dd-MM-yyyy'}}
		</ion-item>
		<ion-item class="item-icon-left positive">
			<i class="icon ion-clock"></i>Time: {{date | date:'HH:mm'}}
		</ion-item>
		<ion-item class="item-icon-left positive">
			<i class="icon ion-android-person"></i>Stato: {{ started }}
		</ion-item>
		<br>
		<ion-item class="item-icon-left positive" ng-if="!started && !pranzo" ng-click="start()">
			<i class="icon ion-ios-play"></i>Inizio Attività
		</ion-item>
		<ion-item class="item-icon-left positive" ng-if="pranzo" ng-click="ripresaPausa()">
			<i class="icon ion-ios-play"></i>Ripresa pausa pranzo
		</ion-item>
		<ion-item class="item-icon-left positive" ng-if="started " ng-click="stop()">
			<i class="icon ion-ios-pause"></i>Stop
		</ion-item>
		<ion-item class="item-icon-left positive" ng-if="started && pranzo" ng-click="finePausa()">
			<i class="icon ion-ios-pause"></i>Fine pausa pranzo
		</ion-item>

	</ion-content>
</ion-view>
