<ion-view view-title="Gestione Attività">
 	<ion-content padding="true">
		<div id="exportable">
			<br>
			<br>
			<ion-item class="item-icon-left positive">
				<i class="icon ion-connection-bars"></i>Attività: {{  }}
			</ion-item>
			<table ng-table="demo.tableParams" class="table table-condensed table-bordered table-striped" >
				<tr align="center" style='font-weight:bold;'>
					<td>NOME</td>
					<td>DATA INIZIO</td>
					<td>DATA FINE</td>
					<td>USER</td>
					<td>TIPO</td>
					<td> </td>
				</tr>
				<tbody align="center">
				<tr ng-repeat="row in attivita" >
					<td>{{ row.nome }}</td>
					<td>{{ row.datainizio }}</td>
					<td>{{ row.datafine }}</td>
					<td>{{ }}</td>
					<td>{{ }}</td>
					<td><button type="button" ng-click="modifica(row)" class="btn btn-warning">Modifica</button></td>
				</tr>
				<tbody>
			</table>
		</div>
		<button type="button" ng-click="aggiungiAttivita()" class="btn btn-sm btn-success">
			<i class="glyphicon glyphicon-plus"></i> Aggiungi Attività
		</button>
	</ion-content>
</ion-view>
