<form>
   <span class="input-label">Nome</span>
   <input type="text" placeholder={{profileRow.firstname}} ng-model="newRow.firstname">
   <span class="input-label">Cognome</span>
   <input type="text" placeholder={{profileRow.lastname}} ng-model="newRow.lastname">
   <span class="input-label">Profilo</span>
   <select type="text" ng-model="newRow.profile">
      <option selected="selected">{{profileRow.profile}}</option>
      <option>{{other2}}</option>
      <option>{{other3}}</option>
   </select>
</form>

