/* Empty. Add your own CSS if you like */



/* Menu
==================================*/
.menu .bar.bar-header.expanded {
    transition: all .5s ease-in-out;
}

.menu.menu-left * {
    font-weight: bold;
}

.menu-open .ion-navicon {
    transform: rotate(-360deg);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.menu-open .ion-navicon:before {
    content: "\f2ca";
}











.fc-sat {
    background-color: #F2F2F2;
}
.fc-sun {
    background-color: #E8E7E6;
}
.holiday
{
    border:1px solid red;
    background: red;
    color: red;
}
.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 100%;
    height: 300px;
}

.divTable
{
    display:  table;
    width:auto;
    /*width: 100%;*/
    background-color:#eee;
    border:1px solid  #666666;
    border-spacing:5px;/*cellspacing:poor IE support for  this*/
    /* border-collapse:separate;*/
}

.divRow
{
    display:table-row;
    width:auto;
}

.divCell
{
    float:left;/*fix for  buggy browsers*/
    display:table-column;
    width:200px;
    background-color:#ccc;
}

.popup {

    border: 2px solid darkgray;
    padding: 2px;
    border-radius: 10px !important;

}

.popup-head {

    background-color: #e6e6e6;
}

.popup-title {

}

.popup-body {

    background-color: #ededed;

}

.popup-buttons .button
{
    font-size: 14px;
    font-weight: 500;
    -webkit-border-radius: 4px;
    border-radius: 5px !important;
    cursor: pointer;
}

/*
.popup-container {

    background-color: palegoldenrod;

}
*/

